body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    color:black;
    padding:0;
    margin:0;

}

header{
    display: flex;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 80px;
}

header .logo a {
    background-image: url("../images/main-page/logowhite.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display:flex;
    width:100px;
    height:80px;
    position: relative;
    bottom: 8px;
    text-indent: -999999px;
}

header .logo a:hover {
    background-image: url("../images/main-page/logo-mainpage-hover.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display:flex;
    width:100px;
    height:80px;
    position: relative;
    bottom: 8px;
    text-indent: -999999px;
}

.headerimg figure {
    padding: 0;
    margin: 0;
}

.headerimg figure img{
    background-size: 100%;
    width: 100%;
    height: 300px;
}

nav {
    padding: 10px;
}
nav ul{
    list-style-type: none;
    display: inline-flex;
    margin-left: -40px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px; 
    margin: 30px;
}

nav a:hover {
    color:lightslategrey;
}

.content {
    width: 70%;
    margin: auto;
}
.content h2 {
    text-align: center;
}

.content p {
    /*background-color: rgb(239, 193, 46);*/
    text-align: center;
    font-size: large;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}

#slider {
    margin-left: 25%;
    width: 500px;
    height: 500px;
    overflow: hidden;
}

#slider .slides {
    display: block;
    width: 6000px;
    height: 400px;
    margin: 0;
    padding: 0;
    
}
#slider .slide {
    float: left;
    list-style-type: none;
    width: 1000px;
    
}

footer{
    background-color: black;
    color: white;
    padding: 20px;
    margin-top: 20px;
}

footer ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;

}

footer ul li {
    margin: auto;
    padding: 5px;
    margin-top: -30px;
}

footer ul li:hover {
    color: lightslategrey;
    cursor: pointer;
}

/* responsive design */

