body {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    background-color: whitesmoke;
    color:black;
    padding:0;
    margin:0;

}

header{
    display: flex;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 80px;
}

header .logo a {
    background-image: url("../images/logowhite.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display:flex;
    width:100px;
    height:80px;
    position: relative;
    bottom: 8px;
    text-indent: -999999px;
}

header .logo a:hover {
    background-image: url("../images/logo-mainpage-hover.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display:flex;
    width:100px;
    height:80px;
    position: relative;
    bottom: 8px;
    text-indent: -999999px;
}

.headerimg figure {
    padding: 0;
    margin: 0;
}

.headerimg figure img{
    background-size: 100%;
    width: 100%;
    height: 250px;
}

nav {
    padding: 10px;
}
nav ul{
    list-style-type: none;
    display: inline-flex;
    margin-left: -40px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px; 
    margin: 30px;
}

nav a:hover {
    color:lightslategrey;
}

.content {
    width: 70%;
    margin: auto;
}
.content h2 {
    text-align: center;
}

.content p {
    text-align: center;

}

footer{
    background-color: black;
    color: white;
    padding: 20px;
}

footer ul {
    list-style-type: none;
    text-decoration: none;
    display: flex;

}

footer ul li {
    margin: auto;
    padding: 5px;
    margin-top: -30px;
}

footer ul li:hover {
    color: lightslategrey;
    cursor: pointer;
}

/* responsive design */

