@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Epilogue:wght@300&family=Montserrat:wght@300&family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300&display=swap');

body {
    font-family: 'Playfair Display', serif;
    background-color: whitesmoke;
    color:black;
    padding:0;
    margin:0;

}

header{
    display: flex;
    list-style-type: none;
    background-color: black;
    color: white;
    height: 80px;
}

header .logo a {
    background-image: url("../images/main-page/logowhite.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display:flex;
    width:100px;
    height:80px;
    position: relative;
    bottom: 8px;
    text-indent: -999999px;
}

header .logo a:hover {
    background-image: url("../images/main-page/logo-mainpage-hover.png");
    background-size: 100px;
    background-repeat: no-repeat;
    display:flex;
    width:100px;
    height:80px;
    position: relative;
    bottom: 8px;
    text-indent: -999999px;
}

nav {
    padding: 10px;
}
nav ul{
    list-style-type: none;
    display: flex;
    margin-left: -40px;
}

nav a {
    text-decoration: none;
    color: white;
    padding: 5px; 
    margin: 30px;
}

nav a:hover {
    color:lightslategrey;
}